.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 11%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M114.65 176.12 a143.78 143.78 0 1 0 287.56 0 a143.78 143.78 0 1 0 -287.56 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M819.49 494.07 a142.39 142.39 0 1 0 284.78 0 a142.39 142.39 0 1 0 -284.78 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M265.95 257.17 a174.6 174.6 0 1 0 349.2 0 a174.6 174.6 0 1 0 -349.2 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-99.6 425.01 a113.32 113.32 0 1 0 226.64 0 a113.32 113.32 0 1 0 -226.64 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M988.19 539.85 a117.35 117.35 0 1 0 234.7 0 a117.35 117.35 0 1 0 -234.7 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-114.35 539.71 a141.22 141.22 0 1 0 282.44 0 a141.22 141.22 0 1 0 -282.44 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M872.18 4.24 a170.07 170.07 0 1 0 340.14 0 a170.07 170.07 0 1 0 -340.14 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M751.49 508.14 a109.22 109.22 0 1 0 218.44 0 a109.22 109.22 0 1 0 -218.44 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M715.47 502.46 a112.55 112.55 0 1 0 225.1 0 a112.55 112.55 0 1 0 -225.1 0z' fill='rgba(173%2c 149%2c 81%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;

    &__left-hero{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__stroke-text{
            &-1{
                font-size: 15vw;
            }
            &-2{
                margin-top: -3vw;
                color: var(--seccondPrimaryColor);
                font-size: 5vw;
                font-weight: 700;
                text-transform: uppercase;
            }
            
        }

        &__slogen{
            display: flex;
            font-size: 1.5vw;
            font-weight: 600;
            color: var(--primaryColor);
            background-color: white;
            width: 30vw;
            height: 3vw;
            align-items: center;
            justify-content: center;
            border-radius: 10vw;
        }

        &__buttons{
            display: flex;
            flex-direction: row;
            gap: 2vw;
            margin-top: 2vw;

            &-1{
                width: 10vw;
                height: 3vw;
                border-radius: 10px;
                font-size: 1vw;
                color: azure;
                background-color: var(--seccondPrimaryColor);
                border: none;
            }

            &-2{
                width: 10vw;
                height: 3vw;
                border-radius: 10px;
                font-size: 1vw;
                color: azure;
                background-color:transparent;
                border: 2px solid var(--seccondPrimaryColor);
               
            }
        }

    }
    &__right-hero{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content:  center;
        padding-right: 2vw;

        &__img{
            width: 50vw;
            
        }
    }
}

@media (max-width:768px) {
    .hero{
    
        height: 45%;
     
        &__left-hero{
    
            &__buttons{
                gap: 2vw;
                margin-top: 2vw;
    
                &-1{
                    width: 15vw;
                    height: 4vw;
                    font-size: 2vw;
                }
    
                &-2{
                    width: 15vw;
                    height: 4vw;
                    font-size: 2vw;  
                }
            }
    
        }
    }
}


@media (max-width:576px) {
    .hero{
    
        height: 40%;
     
        &__left-hero{
    
            &__buttons{
                gap: 2vw;
    
                &-1{
                    width: 15vw;
                    height: 4vw;
                    font-size: 2vw;
                }
    
                &-2{
                    width: 15vw;
                    height: 4vw;
                    font-size: 2vw;  
                }
            }
    
        }
    }
}
@media (max-width:480px) {
    .hero{
    
        height: 30%;
     
    }
}
@media (max-width:320px) {
    .hero{
    
        height: 20%;
     
    }
}